.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}

.sidebar-inside-container{
    display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  color: gray;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
}

.sidebar-icon {
  font-size: 26px;
  margin-right: 25px;
}

.sidebar-text {
  font-family: Roboto;
  font-size: 20px;
}
